.DS_Store
.idea
thumbs.db
*.zip
*.pyc
*_pb2.py
*.bak
*.hex
*.[oa]
*.pb.go
.vscode/ipch/**
!.gitkeep

_build
build

artifacts
doc/**
.unison*
node_modules
go.sum
**/_build
**/parking

test/**/build/
# test/unittest/generated

compile_commands.json
